<?xml version="1.0"?>

<model>
    <name>closed_loop_addJoint</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>

    <author>
        <name>Wiartalla, Jan</name>
        <email>wiartalla@igmr.rwth-aachen.de</email>
    </author>

    <description>
        Test file for closed loop kinematics in Gazebo Harmonic
    </description>
    
</model>